## LISTES

The most fundemental sequence type used in python is _list_. Lists are mutable and mixed-type.

The list data type has multiple methods. Here are all of the methods of _list_ objects.
* _list.append(x)_ : add item to the end of the _list_

* _list.extend(iterable)_ :extnd the _list_ by appendding all the items from the itreable

* _list.insert(i,x)_ : insert an item at given position. The first argument is the index of the element before which to insert. So *a.insert(0,x)* insert _x_ at the front of the _list_ , and _a.insert(len(a),x)_ is equivalent to _a.append(x)_

* _list.remove(x)_ : remove the first item from the _list_ whose values is equal to _x_. It raises a _ValueError if the there is no such item.

* _list.pop(\[i\])_: remove the item at the given position in the _list_ and return it. If no index is given _a.pop()_ remove and return the last element of the _list_ (With _pop_ method: Last in first out)

* _list.clear()_ : remove all items from the _list_. This method is equivalent to  _del_ a\[:]

* _list.index(x,\[,start\[,end]])_ return zero_based index in the _list_ of the the first value whose value is equal to *x*. Raises a value _ValueError_ if there is no such item.

* _list.sort(key=none, reverse=False)_ : sort the item of the _list_ in place

* _list.reverse()_: reverse items ot*f the _list_ in place

* _list.copy()_ : return a shallow copy of the _list_. equivalent to *a\[:]*

* _list.count(x)_ : return the number of times _x_ appears in the _list_.


## Examples

In [55]:
age=[12,45,24,1,24,4,57,51,15,14,16,24,15,17,48,18,15,12,11,45,12,6,79,54,34,15,1]

In [56]:
age.count(15)

4

In [57]:
age.index(18),age.index(1,3,len(age))

(15, 3)

In [58]:
age.remove(1)

In [59]:
print(age)

[12, 45, 24, 24, 4, 57, 51, 15, 14, 16, 24, 15, 17, 48, 18, 15, 12, 11, 45, 12, 6, 79, 54, 34, 15, 1]

In [60]:
age.reverse()

In [61]:
print(age)

[1, 15, 34, 54, 79, 6, 12, 45, 11, 12, 15, 18, 48, 17, 15, 24, 16, 14, 15, 51, 57, 4, 24, 24, 45, 12]

In [63]:
age.sort()
print(age)

[1, 4, 6, 11, 12, 12, 12, 14, 15, 15, 15, 15, 16, 17, 18, 24, 24, 24, 34, 45, 45, 48, 51, 54, 57, 79]

Notice that the _ reverse_, _insert_ and _sort_ methods return a nothing (_None_) not a *list*. They make the change in the list.

In [67]:
age.pop(),age.pop(1)

(57, 6)

In [70]:
age.clear()
age

[]

_pop_ and _append_ methods make list easy to use as _stack_, as soon as in a _stack_ object, the last item added is the first removed."

In [79]:
from collections import deque
queue=deque(['alpha','epsilon','lambda','nu','mu','eta','alpha'])
queue.append('psi'), queue.appendleft('gamma')
queue.popleft(),queue.pop()

('gamma', 'psi')

## List comprehensions

List comprehension provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations  applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [44]:
import time
symbols='~$1%£%§?#{[|`^@æë€´ö÷¡×¿'
code_asci=list()
begin_time=time.time()
for elm in symbols:
   code_asci.append(ord(elm))
end_time=time.time()
execution_time=end_time-begin_time
execution_time

0.0001697540283203125

In [45]:
begin_time=time.time()
code_asci_listcomp=[ord(elm) for elm in symbols]
end_time=time.time()
execution_time=end_time-begin_time
execution_time

0.00019550323486328125

In [48]:
coordinate=[(x,y) for x in range(4) for y in range(3) if x!=y]
coordinate

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2)]

In [50]:
coordinate_loop=[]
for x in range(4):
    for y in range(3):
        if x!=y:
            coordinate_loop.append((x,y))
coordinate_loop

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2)]

In [60]:
non_postive=list(range(-10,-0,1))
non_postive
positive=[abs(x) for x in non_postive]
positive

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
from math import pi
pi_10=[round(pi,d) for d in range(11)]
pi_10

[3.0,
 3.1,
 3.14,
 3.142,
 3.1416,
 3.14159,
 3.141593,
 3.1415927,
 3.14159265,
 3.141592654,
 3.1415926536]

In [66]:
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
tranposed1=[[row[i] for row in matrix] for i in range(4)]
tranposed1

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [67]:
tranposed2=list()
for i in range(4):
    tranposed2.append([row[i] for row in matrix])
tranposed2

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [72]:
tranposed3=[]
for i in range(4):
    transposed=[]
    for row in matrix:
        transposed.append(row[i])
    tranposed3.append(transposed)
tranposed3

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [30]:
inventory=[("apple",267),('Orange',345),('plum',221),('strawberry',101),('melon',99)]
sorted_inventory=sorted(inventory)
inventory.sort()
inventory,sorted_inventory

([('Orange', 345),
  ('apple', 267),
  ('melon', 99),
  ('plum', 221),
  ('strawberry', 101)],
 [('Orange', 345),
  ('apple', 267),
  ('melon', 99),
  ('plum', 221),
  ('strawberry', 101)])

# TUPLES

In [ ]:
There is also another standard sequence data type: the _tuple_.
A tuple consists of a number of values separated by commas, for instance.

In [2]:
tuple='python','C','JavaScript',8080
len(tuple),tuple

(4, ('python', 'C', 'JavaScript', 8080))

As you see, on output tuples are always enclosed in parentheses, so the nested tuples are interpreted correctly.
The input can be declared without parentheses as in the first example.
A tuple is immutable, but it can contains mutable object as a _list_.

In [7]:
t=(list(range(4)),'hello')
t[0]

[0, 1, 2, 3]

And empty tuple is constructed by an empty pair of parentheses. To construct a tuple containing a single item we should end the tuple declaration by a commas.

In [10]:
empty=()
single1=('hello')
single2='hello',
len(empty),len(single1),len(single2)

(0, 5, 1)

As you see the second instruction is not a _tuple_ but a _string_.

### Tuple as record

In [6]:
lax_coordinate=(33.9425,-118.408056)
city,year,pop,chg,area=('Tokyo','2003',32450,0.66,8014)
travel_ids=[('USA',31195),('BRA',45866),('ESP',58766)]
for passeport in sorted(travel_ids):
    print('%s/%d' %passeport)
    print(f'{passeport[0]}/{passeport[1]}')

BRA/45866
BRA/45866
ESP/58766
ESP/58766
USA/31195
USA/31195

The for loop knows how to retrieve the items of a tuple and treats each items as separate field. This called _unpacking_.

In [9]:
for country,_ in travel_ids:
    print(country)
print(20*'****')
for _,pop in travel_ids:
    print(pop)

USA
BRA
ESP
********************************************************************************
31195
45866
58766

We can also use tuple unpacking to enable functions to return multiple values.

In [11]:
import os 
_,filname=os.path.split('/home/cheikh/.shh/math.exe')
filname

'math.exe'

To grab arbitrary excess arguments we can use the _*arg_.

In [13]:
a,b,*c=range(6)
a,b,c

(0, 1, [2, 3, 4, 5])

In [14]:
*a,b,c=range(6)
a,b,c

([0, 1, 2, 3], 4, 5)

### Nested tuple unpacking

The tuple to receive an expression to unpack can have a nested tuples like _(a,b,(c,d))_, and python will do the right thing if the expression matches the nested structure.
See the example below.

In [46]:
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

In [52]:
print('{:15} | {:^9} | {:^9}'.format('City', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

City            |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### Named tuples

The collections.namedtuple fucntion is a factory that produces subclasses of tuple enhanced with field _name_ and a class _name_.

In [54]:
from collections import namedtuple
City=namedtuple('City','name country population coordinates')
tokyo=City('Tokyo','JP',36933,(35.933,139.691667))
tokyo

City(name='Tokyo', country='JP', population=36933, coordinates=(35.933, 139.691667))

In [56]:
tokyo.population,tokyo.country

(36933, 'JP')

In [57]:
tokyo.coordinates

(35.933, 139.691667)

Two paramaters are necessary to create a named tuple: a class name and a list of the field names, which can be given as an iterable of strings or a single space -delimited string.
A named tuple has a few attributes in addition to those inherited from tuple.
* _make(iterable)_: class method
* _fields_ : class attributes
* _asdict()_ instance method

In [58]:
City._fields

('name', 'country', 'population', 'coordinates')

In [61]:
LatLong=namedtuple('LatLong','lat long')
delhi=('Delhi','IN',21.935,LatLong(28.613889,77.208889))
delhi=City._make(delhi)
delhi._asdict()

{'name': 'Delhi',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

Notice that instead of using the class method _make_ which allow you to instatiate a named tuple from an iterable, we can use the unpacked method _City(*delhi)_.


| method | list| tuple| description |
|---|---|---|---|
| s.\__add__($s_2$) |  x |   x | s+$s_2$-concatenation |
| s.\__iadd__($s_2$) |  x |    | s+=$s_2$-in place concatenation |
| s.append(e) |  x |    | Append elment _e_ after last |
| s.clear() |  x |    | Delete all items |
| s.\__contains__(e) |  x  |  x  |  e in s |
| s.copy() |  x |    | Shallow copy of the list |
| s.count(e) |  x |   x | count occurences of an element |
| s.\__delitem__(p) |  x |    | Remove item at position p |
| s.extend(it) |  x |    | Append items from iterable it |
| s.\__getitem__(p) |  x |   x | s\[p] get item at position position |
| s.index(e) |  x |   x | find the position of first occurence of e |
| s.insert(p,e) |  x |    | Insert the element e before the item at position p |
| s.\__iter__() |  x |   x | Get iterator |
| s.\__len__() |  x |   x | len(s) number of items |
| s.\__mul__(n) |  x |   x | s*n- repeated concatenation |
| s.\__imul__(n) |  x |    | s*=n- in place repeated concatenation |
| s.\__rmul__(n) |  x |   x | s*n- reversed repeated concatenation |
| s.pop(\[p]) |  x |    | Remove the last item or the item at optional position p |
| s.remove(e) |  x |    | Remove the first occurences of e by value |
| s.reverse() |  x |    | Reverse the order of the items in place |
| s.\__reversed__() |  x |    | Get iterator to scan items from last to first |
| s.\__setitem(p,e)__ |  x |    | s\[p]=e put e at position p  overwritting existing item |
| s.sort(\[key],\[reverse]) |  x |    | Sort items in place with optional keyword arguments _key_ and _reverse_  |

In [1]:
liste=list(range(10))
liste.__contains__(2)

True

In [4]:
it=liste.__reversed__()
print(*it)

9 8 7 6 5 4 3 2 1 0

In [8]:
sub=[x for x in liste if x%2==0]
sub.__delitem__(0)
sub

[2, 4, 6, 8]

In [13]:
sub_twice=sub.__mul__(2)
sub.__imul__(2)
sub_twice,sub

([2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8],
 [2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8])

### Slicing

A common feature of list, tuple , str and all sequence types in python support of slicing operations which is very powerful.

Python uses a zero-based indexing. Slicing excludes de last item as in range.

* s\[:a] split at position a
* s\[a:]

In [20]:
liste[2:],liste[:2]

([2, 3, 4, 5, 6, 7, 8, 9], [0, 1])

In [32]:
s='bicycle'
s[::3],s[::-1]

('bye', 'elcycib')

In [28]:
liste[::3]

[0, 3, 6, 9]

### Bulding lists of lists
Sometimes we need to initialize a list with a certain number of nested lists. Por example to distribute students in a list of teams.

In [45]:
board=[['-']*3 for i in range(3)]
board[1].__setitem__(2,'X')
board

[['-', '-', '-'], ['-', '-', 'X'], ['-', '-', '-']]

In [43]:
weird_board=[['-']*3]*3
weird_board

[['-', '-', '-'], ['-', '-', '-'], ['-', '-', '-']]

In [46]:
weird_board.__getitem__(1).__setitem__(2,'X')
weird_board

[['-', '-', 'X'], ['-', '-', 'X'], ['-', '-', 'X']]

We notice in the _weird_board_ list all rows have been concerned by the assignment.
In fact, all rows are aliases refering to same object. So if we change one others will also be changed.

This understand more this this case see the example below.

In [48]:
row=['-']*3
weird_board2=list()
board2=list()
for i in range(3):
    weird_board2.append(row)
    row2=['-']*3
    board2.append(row2)
board2,weird_board2

([['-', '-', '-'], ['-', '-', '-'], ['-', '-', '-']],
 [['-', '-', '-'], ['-', '-', '-'], ['-', '-', '-']])

The same row is appended three times to _weird_board2_. All rows refer to same adress. In _board_ list, each iteration builds a new row and append it to _board2_